Code--> where you have to write python program

markdown--> where you have to write title

Select markdown with keyword: esc+M+Enter(to select the cell)

To execute--> type shift+enter

# How to print in python

In [1]:
print("My name is Ishwar Gautam")

My name is Ishwar Gautam

In [2]:
x=5
x

5

In [3]:
x=5
y=7
x
y

7

In [4]:
x=5
y=7
print(x)
print(y)

5
7

# comment in python

In [5]:
# this is single line comment

In [7]:
'''This is multiline comment
you can write anything here'''
print("Ishwar")

Ishwar

# user input

In [8]:
input("Enter your name: ")

Enter your name: Ishwar

'Ishwar'

In [10]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print("Sum = ",num1+num2)

Enter first number: 3
Enter second number: 6
Sum =  9

In [14]:
num1, num2 = input("Enter two string number: ").split()

Enter two string number: 4 5

In [15]:
num1, num2 = input("Enter two string number: ").split(",")

Enter two string number: 4,5

# Python string

In [17]:
name = "Ishwar Gautam"
print(name)

Ishwar Gautam

In [20]:
len(name)

13

In [21]:
name.index('r')

5

In [22]:
name.count('a')

3

In [24]:
name.upper()

'ISHWAR GAUTAM'

In [25]:
name.lower()

'ishwar gautam'

# Python slicing

In [27]:
name = "Ishwar Gautam"
name[2:8] # from index 2 to 8-1=7

'hwar G'

In [28]:
name[2:]

'hwar Gautam'

In [29]:
name[:7]

'Ishwar '

In [31]:
name[0:6:2] #start:end-1:step argument

'Iha'

In [32]:
# to reverse the string
name[::-1]

'matuaG rawhsI'

# string formating

In [33]:
name = input("Enter your name: ")
age = input("Enter your age: ")
print("your name is {} and your age is {}".format(name,age))

Enter your name: ishwar
Enter your age: 23
your name is ishwar and your age is 23

In [34]:
print(f"your name is {name} and your age is {age}")

your name is ishwar and your age is 23

# Decision making

## if statement

In [37]:
x=5

# what is indentation in python
if(x==5):
    print("true")

true

## if else statement

In [39]:
# program to display whether the number is even or odd

num = int(input("Enter any number: "))
if(num%2==0):
    print(f"{num} is even")
else:
    print(f"{num} is odd")

Enter any number: 8
8 is even

## if elif else statement

In [43]:
# program to display M for male, F for female and O for other

char = input("Enter M for male, F for female, and O for other: ")
if(char=='M'):
    print("you are male")
elif(char=='F'):
    print("you are female")
elif(char=='O'):
    print("you are other than male and female")
else:
    print("Please type M for male, F for female and O for other only.......")

Enter M for male, F for female, and O for other: h
Please type M for male, F for female and O for other only.......

# Python loop

## while loop

In [45]:
i=0
while(i<5):
    print(i)
    i+=1

0
1
2
3
4

# for loop

In [46]:
name = "Ishwar Gautam"
for char in name:
    print(char)

I
s
h
w
a
r

G
a
u
t
a
m

# Loop control statement

## break, continue, pass

In [49]:
i=0
while(i<100000):
    i=i+1
    if(i==10):
        break
    print("The number is ",i)

The number is  1
The number is  2
The number is  3
The number is  4
The number is  5
The number is  6
The number is  7
The number is  8
The number is  9

In [51]:
i=0
while(i<10):
    i=i+1
    if(i==5):
        continue
    print("The number is ",i)

The number is  1
The number is  2
The number is  3
The number is  4
The number is  6
The number is  7
The number is  8
The number is  9
The number is  10

In [53]:
for letter in 'Python': 
    if letter == 'h':
        pass
    print ('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n

# List

In [1]:
# list-->elements inside square bracket
l = [1,2,3,4]
l

[1, 2, 3, 4]

In [2]:
type(l)

list

In [4]:
name=["Ishwar","Bijay"]
name

['Ishwar', 'Bijay']

In [8]:
mixed= ["Ishwar",23,"Roman Reign"]
mixed

['Ishwar', 23, 'Roman Reign']

In [9]:
mixed[0]

'Ishwar'

In [10]:
mixed[1]

23

In [12]:
print(mixed[:2])

['Ishwar', 23]

## How to add data to list

In [13]:
mixed.append("Seth Rollins")

In [14]:
mixed

['Ishwar', 23, 'Roman Reign', 'Seth Rollins']

In [17]:
mixed.insert(2,"Goldberg")
mixed

['Ishwar', 23, 'Goldberg', 'Goldberg', 'Roman Reign', 'Seth Rollins']

In [22]:
#list concatenate
name=["Ishwar","Bijay"]
age = [23,25]
print(name+age)

['Ishwar', 'Bijay', 23, 25]

In [24]:
name=["Ishwar","Bijay"]
age = [23,25]
name.extend(age)
print(name)

['Ishwar', 'Bijay', 23, 25]

# how can we delete element from list

In [25]:
name.pop()

25

In [26]:
name

['Ishwar', 'Bijay', 23]

In [27]:
name.pop(0)

'Ishwar'

In [28]:
name

['Bijay', 23]

In [29]:
name.remove(23)

In [30]:
name

['Bijay']

## in keyword in list

In [31]:
lst  = ["Ishwar","Bijay","Ajay","Govinda"]
for l in lst:
    print(l)

Ishwar
Bijay
Ajay
Govinda

In [32]:
if 'Ajay' in lst:
    print("true")
else:
    print("false")

true

In [39]:
# list inside list
lst2 = [[1,2,3],[4,5,6]]

In [40]:
type(lst2)

list

In [42]:
print(lst2[1][0])

4

# tuple

In [43]:
# tuple--> elements inside paranthesis
t = (1,2,3,"Ishwar")

In [44]:
type(t)

tuple

In [45]:
#tuple with one element
t2=(3)

In [46]:
type(t2)

int

In [47]:
t3=(3,)

In [49]:
type(t3)

tuple

In [50]:
## list inside tuple
name=([1,2,3],["ishwar","bijay"])

In [51]:
type(name)

tuple

In [52]:
#pop, insert, append etc. in list but we cannot do it in tuples

In [53]:
# we can use max, min, sum, len with tuples

In [54]:
num1= (1, 5,7)

In [55]:
max(num1)

7

In [56]:
min(num1)

1

In [57]:
sum(num1)

13

In [58]:
len(num1)

3

# Dictionary

In [72]:
# dictionary --> key-value pair, curly braces
d={"name":"Ishwar","age":23}

In [73]:
type(d)

dict

In [74]:
d2 = dict(name="Ishwar",age=23)

In [75]:
type (d2)

dict

In [77]:
print(d['name'])

Ishwar

In [78]:
d['address']='murgiya'

In [79]:
d

{'name': 'Ishwar', 'age': 23, 'address': 'murgiya'}

In [80]:
# looping in dictionary
for e in d:
    print(e)

name
age
address

In [81]:
for e in d.values():
    print(e)

Ishwar
23
murgiya

In [82]:
# delete
d.popitem()

('address', 'murgiya')

In [83]:
d

{'name': 'Ishwar', 'age': 23}

# List comprehension

In [84]:
lst= []
for i in range(1,11): #range(n)-->0 to n-1
    if i%2==0:
        lst.append(i)
print(lst)

[2, 4, 6, 8, 10]

In [85]:
num = [i for i in range(1,11)] 
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [86]:
square = [i for i in range(1,11) if i%2==0]
square

[2, 4, 6, 8, 10]

In [87]:
 [i if i%2==0 else -i for i in range(1,11)]

[-1, 2, -3, 4, -5, 6, -7, 8, -9, 10]

# Dictionary comprehension

In [89]:
square = {num:num*2 for num in range(1,6)}
print(square)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

In [90]:
even_odd = {num:('even' if num%2==0 else 'odd') for num in range(1,6)}
print(even_odd)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd'}

# set

In [91]:
#element inside curly braces
s={1,3,5,6}

In [93]:
type(s)

set

# set comprehension

In [94]:
s = {k**2 for k in range(1,11)}
s

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

# list vs set

In [95]:
lst = [1,2,4,6,7,1,5,7]

In [96]:
set(lst) #set contains only unique element

{1, 2, 4, 5, 6, 7}

In [97]:
list(set(lst))

[1, 2, 4, 5, 6, 7]